<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
Hi <%= name %>,

Congratulations! Your Dojo application is being reviewed by a member of the CoderDojo Foundation team. We will will respond to you within 48 hours, so hang tight while we check the information you have submitted.

Here are some things you can do while you wait on verification;
Create your first CoderDojo Event <a href="<%= eventsUrl %>">here</a>
Invite members to your Dojo <a href="<%= usersUrl %>">here</a>
Check out our forums and community discussion <a href="https://forums.coderdojo.com">here</a>
Check out our resources for your Dojo <a href="https://kata.coderdojo.com">here</a>

Just get in contact if you have any questions in the meantime and we will be in touch soon.

The CoderDojo Foundation


<% include ../common-en_US/footer.ejs %>
